openapi: 3.1.0
info:
  title: Embolsadora Cloud API
  version: 2.0.0-alpha
  description: >
    Superficies separadas:
    - **/api/v1/**: ABM (JWT RS256 via Supabase JWKS + X-Tenant-ID + RBAC)
    - **/api/v1/consumers/**: Ingesta batch (API Key + idempotencia)
    - **/api/v1/public/**: Lectura sin autenticación (branding/routing de tenant)

    **Breaking changes desde v1**: eliminado `/api/auth` — autenticación delegada a Supabase Auth.
servers:
  - url: https://api.tu-dominio.com

tags:
  - name: Auth
  - name: Me
  - name: Invitations
  - name: Users
  - name: UserRoles
  - name: Machines
  - name: Tenants
  - name: Consumers
  - name: Logs
  - name: Retention
  - name: Notifications
  - name: Permissions
  - name: Roles
  - name: AlarmRules
  - name: DashboardLayouts
  - name: DashboardMetrics
  - name: EdgeDevices

paths:
  ########################
  # Auth (Supabase delegado)
  ########################
  /api/v1/auth/login:
    post:
      tags: [Auth]
      summary: Login contra Supabase Auth (password grant)
      description: >
        Proxy transparente a `POST {SUPABASE_URL}/auth/v1/token?grant_type=password`.
        La respuesta (status y body) de Supabase se reenvía tal cual — no hay
        transformación ni envelope propio. Si el fetch a Supabase falla (red,
        timeout), responde 502.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/LoginRequest' }
      responses:
        '200':
          description: Login exitoso — body pasado tal cual desde Supabase (access_token, refresh_token, token_type, expires_in, user, ...)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/SupabaseAuthResponse' }
        '400':
          description: Body inválido (bind falló) o error 4xx pasado tal cual desde Supabase (ej. credenciales incorrectas)
          content:
            application/json:
              schema: { type: object, additionalProperties: true }
        '502':
          description: No se pudo contactar a Supabase Auth
          content:
            application/json:
              schema: { type: object, additionalProperties: true }

  /api/v1/me:
    get:
      tags: [Me]
      summary: Perfil propio con tenant, rol y permisos
      description: No requiere `X-Tenant-ID`. Devuelve tenant/role/permissions si el usuario tiene un rol activo.
      security: [{ bearerAuth: [] }]
      responses:
        '200':
          description: Perfil del usuario autenticado
          content:
            application/json:
              schema:
                type: object
                properties:
                  user:
                    type: object
                    properties:
                      id: { type: string, format: uuid }
                      email: { type: string, format: email, nullable: true }
                      name: { type: string, nullable: true }
                      password_change_required: { type: boolean }
                    required: [id, password_change_required]
                  tenant:
                    type: object
                    nullable: true
                    properties:
                      id: { type: string, format: uuid }
                      name: { type: string }
                      subdomain: { type: string }
                    required: [id, name, subdomain]
                  role:
                    type: object
                    nullable: true
                    properties:
                      id: { type: string }
                      name: { type: string }
                    required: [id, name]
                  permissions:
                    type: array
                    items: { type: string }
                required: [user, permissions]
        '401': { description: Token ausente o inválido }
        '503': { description: Supabase JWKS no disponible }

  /api/v1/auth/change-password:
    post:
      tags: [Auth]
      summary: Confirmar cambio de contraseña (limpia el flag password_change_required)
      description: No requiere `X-Tenant-ID` ni pasa por `PasswordChangeGuard`. El nuevo token de Supabase ya contiene la sesión renovada.
      security: [{ bearerAuth: [] }]
      responses:
        '200':
          description: Flag limpiado correctamente
          content:
            application/json:
              schema:
                type: object
                properties:
                  message: { type: string, example: password changed }
        '401': { description: Token ausente o inválido }

  ########################
  # Invitations
  ########################
  /api/v1/invitations:
    get:
      tags: [Invitations]
      summary: Listar invitaciones del tenant
      security: [{ bearerAuth: [] }]
      parameters:
        - in: header
          name: X-Tenant-ID
          required: true
          schema: { type: string, format: uuid }
        - in: query
          name: status
          required: false
          schema: { type: string, enum: [pending, accepted, revoked, expired] }
      responses:
        '200':
          description: Lista de invitaciones
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Invitation' }
        '401': { description: Token ausente o inválido }
        '403': { description: Sin acceso al tenant }
    post:
      tags: [Invitations]
      summary: Crear invitación (requiere permiso invitations:write)
      security: [{ bearerAuth: [] }]
      parameters:
        - in: header
          name: X-Tenant-ID
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email: { type: string, format: email }
                role_id: { type: string }
              required: [email, role_id]
      responses:
        '201':
          description: Invitación creada
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Invitation' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { description: Token ausente o inválido }
        '403': { description: Sin permiso invitations:write }
        '409':
          description: Ya existe invitación pendiente para este email en el tenant
          content:
            application/json:
              schema:
                type: object
                properties:
                  error: { type: string }
        '429': { $ref: '#/components/responses/RateLimited' }

  /api/v1/invitations/{id}/resend:
    post:
      tags: [Invitations]
      summary: Reenviar invitación pendiente
      security: [{ bearerAuth: [] }]
      parameters:
        - in: header
          name: X-Tenant-ID
          required: true
          schema: { type: string, format: uuid }
        - $ref: '#/components/parameters/ID'
      responses:
        '200': { description: Email reenviado }
        '404': { $ref: '#/components/responses/NotFound' }
        '422':
          description: Invitación no está en estado pending
          content:
            application/json:
              schema:
                type: object
                properties:
                  error: { type: string }

  /api/v1/invitations/{id}:
    delete:
      tags: [Invitations]
      summary: Revocar invitación (requiere permiso invitations:write)
      security: [{ bearerAuth: [] }]
      parameters:
        - in: header
          name: X-Tenant-ID
          required: true
          schema: { type: string, format: uuid }
        - $ref: '#/components/parameters/ID'
      responses:
        '200': { description: Invitación revocada }
        '403': { description: Sin permiso invitations:write }
        '404': { $ref: '#/components/responses/NotFound' }

  ########################
  # Users (force password change)
  ########################
  /api/v1/users/{id}/force-password-change:
    post:
      tags: [Users]
      summary: Forzar cambio de contraseña (requiere permiso users:write)
      security: [{ bearerAuth: [] }]
      parameters:
        - in: header
          name: X-Tenant-ID
          required: true
          schema: { type: string, format: uuid }
        - $ref: '#/components/parameters/ID'
      responses:
        '200': { description: Flag activado y email de reset enviado }
        '403': { description: Sin permiso users:write }
        '404': { $ref: '#/components/responses/NotFound' }

  ########################
  # ABM (JWT + RBAC)
  ########################
  /api/v1/users/pending:
    get:
      tags: [Users]
      summary: Listar usuarios con invitación pendiente de activación
      description: Requiere permiso `perm_users_view`.
      security: [{ bearerAuth: [] }]
      responses:
        '200':
          description: Usuarios pendientes
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PendingUserList' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }

  /api/v1/users:
    get:
      tags: [Users]
      summary: Listar usuarios del tenant
      security: [{ bearerAuth: [] }]
      parameters:
        - name: X-Tenant-ID
          in: header
          required: true
          schema: { type: string, format: uuid }
          description: UUID del tenant
        - name: limit
          in: query
          required: false
          schema: { type: integer, minimum: 1, maximum: 100, default: 20 }
        - name: offset
          in: query
          required: false
          schema: { type: integer, minimum: 0, default: 0 }
      responses:
        '200': { $ref: '#/components/responses/UserList' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
    post:
      tags: [Users]
      summary: Crear usuario (admin only)
      security: [{ bearerAuth: [] }]
      parameters:
        - name: X-Tenant-ID
          in: header
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json: { schema: { $ref: '#/components/schemas/UserCreate' } }
      responses:
        '201':
          description: Usuario creado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/User' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '409':
          description: Email ya existe en el tenant
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Envelope' }

  /api/v1/users/me:
    patch:
      tags: [Users]
      summary: Autoeditar el propio perfil (self-service, sin RBAC)
      description: >
        El usuario destino sale del JWT (`platform.DomainUser`), nunca de la URL o del
        body, así que no hay forma de apuntar a otro usuario ni de auto-asignarse un
        rol: el body solo admite `firstName`/`lastName`.
      security: [{ bearerAuth: [] }]
      parameters:
        - name: X-Tenant-ID
          in: header
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json: { schema: { $ref: '#/components/schemas/UserUpdateMe' } }
      responses:
        '200':
          description: Perfil actualizado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/User' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }

  /api/v1/users/{userId}:
    get:
      tags: [Users]
      summary: Obtener usuario por ID
      security: [{ bearerAuth: [] }]
      parameters:
        - name: userId
          in: path
          required: true
          schema: { type: string, format: uuid }
        - name: X-Tenant-ID
          in: header
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Usuario encontrado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/User' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
    patch:
      tags: [Users]
      summary: Actualizar usuario (admin only)
      security: [{ bearerAuth: [] }]
      parameters:
        - name: userId
          in: path
          required: true
          schema: { type: string, format: uuid }
        - name: X-Tenant-ID
          in: header
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json: { schema: { $ref: '#/components/schemas/UserUpdate' } }
      responses:
        '200':
          description: Usuario actualizado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/User' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
    delete:
      tags: [Users]
      summary: Eliminar usuario — soft delete (admin only)
      security: [{ bearerAuth: [] }]
      parameters:
        - name: userId
          in: path
          required: true
          schema: { type: string, format: uuid }
        - name: X-Tenant-ID
          in: header
          required: true
          schema: { type: string, format: uuid }
      responses:
        '204':
          description: Usuario eliminado (soft delete)
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  /api/v1/users/{userId}/roles:
    get:
      tags: [UserRoles]
      summary: Obtener roles de un usuario
      security: [{ bearerAuth: [] }]
      parameters:
        - name: userId
          in: path
          required: true
          schema: { type: string, format: uuid }
        - name: X-Tenant-ID
          in: header
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Lista de roles del usuario
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Envelope'
                  - type: object
                    properties:
                      data:
                        type: array
                        items: { $ref: '#/components/schemas/UserRoleItem' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }

  /api/v1/user-roles:
    get:
      tags: [UserRoles]
      summary: Listar asignaciones de rol
      security: [{ bearerAuth: [] }]
      parameters:
        - name: tenantId
          in: query
          required: true
          schema: { type: string, format: uuid }
        - name: status
          in: query
          required: false
          schema: { type: string, enum: [active, pending, revoked] }
      responses:
        '200':
          description: Lista de asignaciones
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Envelope'
                  - type: object
                    properties:
                      data:
                        type: array
                        items: { $ref: '#/components/schemas/UserRole' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
    post:
      tags: [UserRoles]
      summary: Asignar rol a un usuario
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/UserRoleAssign' }
      responses:
        '201':
          description: Rol asignado
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Envelope'
                  - type: object
                    properties:
                      data: { $ref: '#/components/schemas/UserRole' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '409':
          description: El usuario ya tiene un rol activo en este tenant
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Envelope' }

  /api/v1/user-roles/bulk:
    post:
      tags: [UserRoles]
      summary: Asignación masiva de roles (all-or-nothing)
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/UserRoleBulkAssign' }
      responses:
        '201':
          description: Todos los roles asignados
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Envelope'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          assigned: { type: integer }
                          failed: { type: integer }
                          assignments:
                            type: array
                            items: { $ref: '#/components/schemas/UserRole' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '409':
          description: Uno o más usuarios ya tienen rol activo
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Envelope' }

  /api/v1/user-roles/{id}:
    put:
      tags: [UserRoles]
      summary: Actualizar rol de una asignación
      security: [{ bearerAuth: [] }]
      parameters:
        - $ref: '#/components/parameters/ID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                roleId: { type: string }
              required: [roleId]
      responses:
        '200':
          description: Asignación actualizada
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Envelope'
                  - type: object
                    properties:
                      data: { $ref: '#/components/schemas/UserRole' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }
    delete:
      tags: [UserRoles]
      summary: Revocar asignación de rol (soft delete — status revoked)
      security: [{ bearerAuth: [] }]
      parameters:
        - $ref: '#/components/parameters/ID'
      responses:
        '200':
          description: Asignación revocada
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Envelope'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          id: { type: string, format: uuid }
                          status: { type: string, enum: [revoked] }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }

  /api/v1/machines:
    get:
      tags: [Machines]
      summary: Listar máquinas
      security: [{ bearerAuth: [] }]
      parameters:
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200': { $ref: '#/components/responses/MachineList' }
    post:
      tags: [Machines]
      summary: Crear máquina
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json: { schema: { $ref: '#/components/schemas/MachineCreate' } }
      responses:
        '201': { $ref: '#/components/responses/CreatedID' }

  /api/v1/tenants:
    get:
      tags: [Tenants]
      summary: Listar tenants
      description: Requiere rol `super_admin` (permiso `tenants:read`). Pasar `X-Tenant-ID` del tenant MRG interno (`mrg-internal`).
      security: [{ bearerAuth: [] }]
      parameters:
        - in: header
          name: X-Tenant-ID
          required: true
          schema: { type: string, format: uuid }
          description: UUID del tenant MRG interno (00000000-0000-0000-0000-000000000000).
      responses:
        '200':
          description: Lista de tenants
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Tenant' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '500': { $ref: '#/components/responses/InternalError' }
    post:
      tags: [Tenants]
      summary: Crear tenant
      description: Requiere rol `super_admin` (permiso `tenants:write`). Pasar `X-Tenant-ID` del tenant MRG interno (`mrg-internal`).
      security: [{ bearerAuth: [] }]
      parameters:
        - in: header
          name: X-Tenant-ID
          required: true
          schema: { type: string, format: uuid }
          description: UUID del tenant MRG interno (00000000-0000-0000-0000-000000000000).
      requestBody:
        required: true
        content:
          application/json: { schema: { $ref: '#/components/schemas/TenantCreate' } }
      responses:
        '201':
          description: Tenant creado
          content:
            application/json:
              schema:
                type: object
                properties:
                  tenant: { $ref: '#/components/schemas/Tenant' }
                required: [tenant]
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '500': { $ref: '#/components/responses/InternalError' }

  /api/v1/tenants/{id}:
    get:
      tags: [Tenants]
      summary: Obtener tenant por ID
      description: Requiere rol `super_admin` (permiso `tenants:read`). Pasar `X-Tenant-ID` del tenant MRG interno.
      security: [{ bearerAuth: [] }]
      parameters:
        - $ref: '#/components/parameters/ID'
        - in: header
          name: X-Tenant-ID
          required: true
          schema: { type: string, format: uuid }
          description: UUID del tenant MRG interno (00000000-0000-0000-0000-000000000000).
      responses:
        '200':
          description: Tenant encontrado
          content:
            application/json:
              schema:
                type: object
                properties:
                  tenant: { $ref: '#/components/schemas/Tenant' }
                required: [tenant]
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '500': { $ref: '#/components/responses/InternalError' }
    patch:
      tags: [Tenants]
      summary: Actualizar tenant (campos parciales)
      description: Requiere rol `super_admin` (permiso `tenants:write`). Pasar `X-Tenant-ID` del tenant MRG interno.
      security: [{ bearerAuth: [] }]
      parameters:
        - $ref: '#/components/parameters/ID'
        - in: header
          name: X-Tenant-ID
          required: true
          schema: { type: string, format: uuid }
          description: UUID del tenant MRG interno (00000000-0000-0000-0000-000000000000).
      requestBody:
        required: true
        content:
          application/json: { schema: { $ref: '#/components/schemas/TenantUpdate' } }
      responses:
        '200':
          description: Tenant actualizado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Tenant' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '500': { $ref: '#/components/responses/InternalError' }
    delete:
      tags: [Tenants]
      summary: Eliminar tenant
      description: Requiere rol `super_admin` (permiso `tenants:write`). Pasar `X-Tenant-ID` del tenant MRG interno.
      security: [{ bearerAuth: [] }]
      parameters:
        - $ref: '#/components/parameters/ID'
        - in: header
          name: X-Tenant-ID
          required: true
          schema: { type: string, format: uuid }
          description: UUID del tenant MRG interno (00000000-0000-0000-0000-000000000000).
      responses:
        '204':
          description: Tenant eliminado
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
        '500': { $ref: '#/components/responses/InternalError' }

  ########################
  # Public (sin autenticación)
  ########################
  /api/v1/public/tenants/{idOrSubdomain}:
    get:
      tags: [Tenants]
      summary: Obtener tenant público por ID o subdominio
      description: Sin autenticación, sin `X-Tenant-ID`. Usado por el callback de invitación/reset de contraseña (corre antes de que exista sesión) y la landing pública del tenant.
      security: []
      parameters:
        - name: idOrSubdomain
          in: path
          required: true
          description: UUID del tenant o su subdominio (subdominio se compara case-insensitive).
          schema: { type: string }
      responses:
        '200':
          description: Tenant público encontrado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PublicTenantResponse' }
        '404': { $ref: '#/components/responses/NotFound' }

  ########################
  # CONSUMERS (API Key)
  ########################
  /api/v1/consumers/events:
    post:
      tags: [Consumers]
      summary: Ingesta batch de eventos
      description: |
        - Idempotencia por item (**eventId** único).
        - Header **Idempotency-Key** opcional para el batch (TTL 10 min).
        - Máx 1000 eventos y 2 MB por request.
      security: [{ apiKeyAuth: [] }]
      parameters:
        - in: header
          name: Idempotency-Key
          required: false
          description: Clave idempotente del batch.
          schema: { type: string, maxLength: 64 }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/BatchEvents' }
      responses:
        '200': { $ref: '#/components/responses/BatchAck' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/InternalError' }

  /api/v1/consumers/heartbeat:
    post:
      tags: [Consumers]
      summary: Heartbeat de dispositivo
      security: [{ apiKeyAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/Heartbeat' }
      responses:
        '200': { $ref: '#/components/responses/Ok' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/InternalError' }

  ########################
  # Logs — List
  ########################
  /api/v1/logs:
    get:
      tags: [Logs]
      summary: Listar logs del tenant con filtros y paginación por cursor
      security: [{ bearerAuth: [] }]
      parameters:
        - { name: event_type, in: query, schema: { type: string, enum: [alarm_triggered, alarm_resolved, device_connected, device_disconnected, device_state_changed, user_action, system] } }
        - { name: severity,   in: query, schema: { type: string, enum: [info, warning, critical, error] } }
        - { name: machine_id, in: query, schema: { type: string, format: uuid } }
        - { name: from,       in: query, schema: { type: string, format: date-time } }
        - { name: to,         in: query, schema: { type: string, format: date-time } }
        - { name: q,          in: query, schema: { type: string } }
        - { name: cursor,     in: query, schema: { type: string } }
        - { name: limit,      in: query, schema: { type: integer, minimum: 1, maximum: 100, default: 50 } }
      responses:
        '200':
          description: Lista de logs
          content:
            application/json:
              schema: { $ref: '#/components/schemas/LogListResponse' }
        '400':
          description: Parámetros inválidos (ej. from > to, cursor inválido, severity desconocido)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Envelope' }
        '401': { $ref: '#/components/responses/Unauthorized' }

  ########################
  # Logs — Export
  ########################
  /api/v1/logs/export:
    get:
      tags: [Logs]
      summary: Exportar logs filtrados (máx 50.000)
      security: [{ bearerAuth: [] }]
      parameters:
        - { name: event_type, in: query, schema: { type: string } }
        - { name: severity,   in: query, schema: { type: string } }
        - { name: machine_id, in: query, schema: { type: string, format: uuid } }
        - { name: from,       in: query, schema: { type: string, format: date-time } }
        - { name: to,         in: query, schema: { type: string, format: date-time } }
        - { name: q,          in: query, schema: { type: string } }
        - { name: format,     in: query, schema: { type: string, enum: [json, csv], default: json } }
      responses:
        '200':
          description: Exportación completada
          content:
            application/json:
              schema: { $ref: '#/components/schemas/LogExportResponse' }
        '400':
          description: Parámetros inválidos (ej. from > to, severity desconocido)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Envelope' }
        '401': { $ref: '#/components/responses/Unauthorized' }

  ########################
  # Logs — Stream SSE
  ########################
  /api/v1/logs/stream:
    get:
      tags: [Logs]
      summary: Streaming SSE de nuevos eventos en tiempo real
      security: [{ bearerAuth: [] }]
      parameters:
        - { name: event_type, in: query, schema: { type: string } }
        - { name: severity,   in: query, schema: { type: string } }
      responses:
        '200':
          description: Conexión SSE establecida
          content:
            text/event-stream:
              schema: { type: string }
        '401': { $ref: '#/components/responses/Unauthorized' }

  ########################
  # Logs — Retention
  ########################
  /api/v1/logs/retention:
    get:
      tags: [Retention]
      summary: Obtener política de retención del tenant
      security: [{ bearerAuth: [] }]
      responses:
        '200':
          description: Política de retención actual
          content:
            application/json:
              schema: { $ref: '#/components/schemas/RetentionResponse' }
        '401': { $ref: '#/components/responses/Unauthorized' }
    patch:
      tags: [Retention]
      summary: Actualizar política de retención (requiere logs:admin)
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/UpdateRetentionRequest' }
      responses:
        '200':
          description: Política actualizada
          content:
            application/json:
              schema: { $ref: '#/components/schemas/RetentionResponse' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }

  ########################
  # Logs — By ID
  ########################
  /api/v1/logs/{id}:
    get:
      tags: [Logs]
      summary: Obtener log por ID
      security: [{ bearerAuth: [] }]
      parameters:
        - { name: id, in: path, required: true, schema: { type: string, format: uuid } }
      responses:
        '200':
          description: Log encontrado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/LogEntry' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }

  ########################
  # Logs — Context
  ########################
  /api/v1/logs/{id}/context:
    get:
      tags: [Logs]
      summary: Obtener ventana de logs alrededor de un evento
      security: [{ bearerAuth: [] }]
      parameters:
        - { name: id,       in: path,  required: true, schema: { type: string, format: uuid } }
        - { name: window_size, in: query, schema: { type: integer, minimum: 1, maximum: 50, default: 10 } }
      responses:
        '200':
          description: Ventana de contexto
          content:
            application/json:
              schema: { $ref: '#/components/schemas/LogContextResponse' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }

  ##############################################
  # Notification Service
  ##############################################

  /api/v1/notifications:
    get:
      tags: [Notifications]
      summary: Listar notificaciones del tenant
      security: [{ bearerAuth: [] }]
      parameters:
        - { name: status, in: query, schema: { type: string, enum: [unread, acknowledged, closed] } }
        - { name: severity, in: query, schema: { type: string, enum: [info, warning, critical, error] } }
        - { name: limit, in: query, schema: { type: integer, default: 20, minimum: 1, maximum: 100 } }
        - { name: offset, in: query, schema: { type: integer, default: 0, minimum: 0 } }
      responses:
        '200':
          description: Lista paginada de notificaciones
          content:
            application/json:
              schema: { $ref: '#/components/schemas/NotificationListResponse' }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /api/v1/notifications/count:
    get:
      tags: [Notifications]
      summary: Conteo de notificaciones no leídas
      security: [{ bearerAuth: [] }]
      responses:
        '200':
          description: Conteo de no leídas
          content:
            application/json:
              schema: { $ref: '#/components/schemas/NotificationCountResponse' }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /api/v1/notifications/{id}:
    get:
      tags: [Notifications]
      summary: Obtener detalle de una notificación
      security: [{ bearerAuth: [] }]
      parameters:
        - { name: id, in: path, required: true, schema: { type: string, format: uuid } }
      responses:
        '200':
          description: Detalle de la notificación
          content:
            application/json:
              schema: { $ref: '#/components/schemas/NotificationResponse' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }

  /api/v1/notifications/{id}/ack:
    post:
      tags: [Notifications]
      summary: Acusar recibo de una notificación (idempotente)
      security: [{ bearerAuth: [] }]
      parameters:
        - { name: id, in: path, required: true, schema: { type: string, format: uuid } }
      responses:
        '200':
          description: Notificación acknowledged
          content:
            application/json:
              schema: { $ref: '#/components/schemas/NotificationResponse' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }

  /api/v1/notifications/{id}/close:
    post:
      tags: [Notifications]
      summary: Cerrar una notificación (idempotente)
      security: [{ bearerAuth: [] }]
      parameters:
        - { name: id, in: path, required: true, schema: { type: string, format: uuid } }
      responses:
        '200':
          description: Notificación closed
          content:
            application/json:
              schema: { $ref: '#/components/schemas/NotificationResponse' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404': { $ref: '#/components/responses/NotFound' }

  ########################
  # Permissions
  ########################
  /api/v1/permissions:
    get:
      tags: [Permissions]
      summary: Listar permisos del catálogo
      description: Sin RBAC adicional — cualquier usuario autenticado puede consultar.
      security: [{ bearerAuth: [] }]
      responses:
        '200':
          description: Lista de permisos
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Permission' }
        '401': { $ref: '#/components/responses/Unauthorized' }
    post:
      tags: [Permissions]
      summary: Crear un permiso
      description: Requiere `perm_users_manage`.
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/PermissionCreate' }
      responses:
        '201':
          description: Permiso creado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Permission' }
        '400':
          description: Validación fallida
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PermissionValidationError' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }

  /api/v1/permissions/{id}:
    get:
      tags: [Permissions]
      summary: Obtener un permiso por ID
      description: Sin RBAC adicional.
      security: [{ bearerAuth: [] }]
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
      responses:
        '200':
          description: Permiso encontrado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Permission' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404':
          description: Permiso no encontrado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PermissionError' }
    put:
      tags: [Permissions]
      summary: Actualizar un permiso
      description: Requiere `perm_users_manage`. Los permisos del sistema (`isSystemPermission=true`) no se pueden modificar.
      security: [{ bearerAuth: [] }]
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/PermissionCreate' }
      responses:
        '200':
          description: Permiso actualizado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Permission' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403':
          description: No se pueden modificar permisos del sistema
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PermissionError' }
        '404':
          description: Permiso no encontrado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PermissionError' }
    delete:
      tags: [Permissions]
      summary: Eliminar un permiso
      description: Requiere `perm_users_manage`. Los permisos del sistema no se pueden eliminar.
      security: [{ bearerAuth: [] }]
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
      responses:
        '200':
          description: Permiso eliminado
          content:
            application/json:
              schema:
                type: object
                properties: { success: { type: boolean } }
                required: [success]
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403':
          description: No se pueden eliminar permisos del sistema
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PermissionError' }
        '404':
          description: Permiso no encontrado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PermissionError' }

  ########################
  # Roles
  ########################
  /api/v1/roles:
    get:
      tags: [Roles]
      summary: Listar roles del tenant
      description: Sin RBAC adicional — cualquier usuario autenticado puede listar/ver roles.
      security: [{ bearerAuth: [] }]
      responses:
        '200':
          description: Lista de roles
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Role' }
        '401': { $ref: '#/components/responses/Unauthorized' }
    post:
      tags: [Roles]
      summary: Crear un rol
      description: Requiere `perm_users_manage`.
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/RoleWrite' }
      responses:
        '201':
          description: Rol creado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Role' }
        '400':
          description: "Validación fallida o límite de roles alcanzado (LIMIT_REACHED)"
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorResponse' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '409':
          description: Ya existe un rol con ese nombre (DUPLICATE_NAME)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorResponse' }

  /api/v1/roles/{id}:
    get:
      tags: [Roles]
      summary: Obtener un rol por ID
      security: [{ bearerAuth: [] }]
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
      responses:
        '200':
          description: Rol encontrado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Role' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404':
          description: Rol no encontrado (ROLE_NOT_FOUND)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorResponse' }
    put:
      tags: [Roles]
      summary: Actualizar un rol
      description: Requiere `perm_users_manage`. Los roles del sistema no se pueden modificar (SYSTEM_ROLE).
      security: [{ bearerAuth: [] }]
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/RoleWrite' }
      responses:
        '200':
          description: Rol actualizado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Role' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403':
          description: Rol del sistema, no modificable (SYSTEM_ROLE)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorResponse' }
        '404':
          description: Rol no encontrado (ROLE_NOT_FOUND)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorResponse' }
        '409':
          description: Ya existe un rol con ese nombre (DUPLICATE_NAME)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorResponse' }
    delete:
      tags: [Roles]
      summary: Eliminar un rol
      description: Requiere `perm_users_manage`. Falla si el rol tiene asignaciones activas (ROLE_HAS_ASSIGNMENTS).
      security: [{ bearerAuth: [] }]
      parameters:
        - { name: id, in: path, required: true, schema: { type: string } }
      responses:
        '200':
          description: Rol eliminado
          content:
            application/json:
              schema: { type: object }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403':
          description: Rol del sistema, no eliminable (SYSTEM_ROLE)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorResponse' }
        '404':
          description: Rol no encontrado (ROLE_NOT_FOUND)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorResponse' }
        '409':
          description: El rol tiene usuarios asignados (ROLE_HAS_ASSIGNMENTS)
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ErrorResponse'
                  - type: object
                    properties:
                      usersAffected: { type: integer }

  ########################
  # Alarm Rules
  ########################
  /api/v1/alarm-rules:
    get:
      tags: [AlarmRules]
      summary: Listar reglas de alarma del tenant
      description: Sin RBAC adicional — cualquier usuario autenticado del tenant puede listar/ver reglas.
      security: [{ bearerAuth: [] }]
      responses:
        '200':
          description: Lista de reglas
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/AlarmRule' }
        '401': { $ref: '#/components/responses/Unauthorized' }
    post:
      tags: [AlarmRules]
      summary: Crear una regla de alarma
      description: Requiere `perm_users_manage`.
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/AlarmRuleCreate' }
      responses:
        '201':
          description: Regla creada
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AlarmRule' }
        '400':
          description: Validación fallida (VALIDATION_ERROR)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorResponse' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }

  /api/v1/alarm-rules/{id}:
    get:
      tags: [AlarmRules]
      summary: Obtener una regla de alarma por ID
      security: [{ bearerAuth: [] }]
      parameters:
        - { name: id, in: path, required: true, schema: { type: string, format: uuid } }
      responses:
        '200':
          description: Regla encontrada
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AlarmRule' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404':
          description: Regla no encontrada (ALARM_RULE_NOT_FOUND)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorResponse' }
    patch:
      tags: [AlarmRules]
      summary: Actualizar parcialmente una regla de alarma
      description: Requiere `perm_users_manage`.
      security: [{ bearerAuth: [] }]
      parameters:
        - { name: id, in: path, required: true, schema: { type: string, format: uuid } }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/AlarmRuleUpdate' }
      responses:
        '200':
          description: Regla actualizada
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AlarmRule' }
        '400':
          description: Validación fallida (VALIDATION_ERROR)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorResponse' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404':
          description: Regla no encontrada (ALARM_RULE_NOT_FOUND)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorResponse' }
    delete:
      tags: [AlarmRules]
      summary: Eliminar una regla de alarma
      description: Requiere `perm_users_manage`.
      security: [{ bearerAuth: [] }]
      parameters:
        - { name: id, in: path, required: true, schema: { type: string, format: uuid } }
      responses:
        '200':
          description: Regla eliminada
          content:
            application/json:
              schema: { type: object }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404':
          description: Regla no encontrada (ALARM_RULE_NOT_FOUND)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorResponse' }

  ########################
  # Dashboard Layouts
  ########################
  /api/v1/dashboard-layouts:
    get:
      tags: [DashboardLayouts]
      summary: Listar layouts de dashboard del usuario
      description: tenant_id viene de `X-Tenant-ID`, user_id del JWT. Sin RBAC adicional más allá de estar autenticado.
      security: [{ bearerAuth: [] }]
      responses:
        '200':
          description: Lista de layouts (máx. 3 por usuario/tenant)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/DashboardLayoutList' }
        '401':
          description: Usuario no identificado en el JWT (UNAUTHORIZED)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorResponse' }
    post:
      tags: [DashboardLayouts]
      summary: Crear un layout de dashboard
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/DashboardLayoutWrite' }
      responses:
        '200':
          description: Layout creado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/DashboardLayout' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401':
          description: Usuario no identificado en el JWT (UNAUTHORIZED)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorResponse' }
        '403':
          description: Límite de layouts alcanzado (LIMIT_REACHED)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorResponse' }
        '409':
          description: Ya existe un layout con ese nombre (DUPLICATE_NAME)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorResponse' }

  /api/v1/dashboard-layouts/{layoutId}:
    get:
      tags: [DashboardLayouts]
      summary: Obtener un layout por ID
      security: [{ bearerAuth: [] }]
      parameters:
        - { name: layoutId, in: path, required: true, schema: { type: string, format: uuid } }
      responses:
        '200':
          description: Layout encontrado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/DashboardLayout' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404':
          description: Layout no encontrado (LAYOUT_NOT_FOUND)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorResponse' }
    put:
      tags: [DashboardLayouts]
      summary: Actualizar un layout
      security: [{ bearerAuth: [] }]
      parameters:
        - { name: layoutId, in: path, required: true, schema: { type: string, format: uuid } }
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/DashboardLayoutWrite' }
      responses:
        '200':
          description: Layout actualizado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/DashboardLayout' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404':
          description: Layout no encontrado (LAYOUT_NOT_FOUND)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorResponse' }
        '409':
          description: Ya existe un layout con ese nombre (DUPLICATE_NAME)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorResponse' }
    delete:
      tags: [DashboardLayouts]
      summary: Eliminar un layout
      description: No se puede eliminar el último layout del usuario (CANNOT_DELETE_LAST_LAYOUT).
      security: [{ bearerAuth: [] }]
      parameters:
        - { name: layoutId, in: path, required: true, schema: { type: string, format: uuid } }
      responses:
        '200':
          description: Layout eliminado
          content:
            application/json:
              schema: { type: object }
        '400':
          description: No se puede eliminar el último layout (CANNOT_DELETE_LAST_LAYOUT)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorResponse' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '404':
          description: Layout no encontrado (LAYOUT_NOT_FOUND)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ErrorResponse' }

  ########################
  # Dashboard Metrics
  ########################
  /api/v1/dashboards/metrics/query:
    post:
      tags: [DashboardMetrics]
      summary: Consultar métricas de una máquina
      description: >
        Requiere `perm_metrics_view`. Sujeto a rate limit por tenant
        (`DashboardRateLimit`, responde 429 con header `Retry-After`).
        `metrics` acepta hasta `MaxSpecs` (10) entradas.
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/MetricsQueryRequest' }
      responses:
        '200':
          description: Resultado de la consulta
          content:
            application/json:
              schema: { $ref: '#/components/schemas/MetricsQueryEnvelope' }
        '400':
          description: "Parámetros inválidos, X-Tenant-ID ausente/inválido, JSON malformado, o conflicto de modo (ej. RAW_MODE_CONFLICT, GROUP_BY_CONFLICT, RANGE_TOO_WIDE, TOO_MANY_METRICS, TOO_MANY_GROUPS)"
          content:
            application/json:
              schema: { $ref: '#/components/schemas/MetricsErrorEnvelope' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '504':
          description: Timeout consultando Mongo (QUERY_TIMEOUT)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/MetricsErrorEnvelope' }
        '500': { $ref: '#/components/responses/InternalError' }

  /api/v1/dashboards/metrics/catalog:
    get:
      tags: [DashboardMetrics]
      summary: Listar los aasPaths disponibles para una máquina
      description: Requiere `perm_metrics_view`. Sujeto al mismo rate limit que `/query`.
      security: [{ bearerAuth: [] }]
      parameters:
        - { name: machineId, in: query, required: true, schema: { type: string } }
      responses:
        '200':
          description: Catálogo de métricas disponibles
          content:
            application/json:
              schema: { $ref: '#/components/schemas/MetricsCatalogResponse' }
        '400':
          description: X-Tenant-ID ausente/inválido o machineId ausente (INVALID_PARAMS)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/MetricsErrorEnvelope' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/InternalError' }

  /api/v1/dashboards/metrics/query/batch:
    post:
      tags: [DashboardMetrics]
      summary: Consultar métricas de varias máquinas/consultas en un solo request
      description: >
        Requiere `perm_metrics_view`. Hasta `MaxBatchQueries` (50) consultas
        por batch, cada una con su propio `id`. Los errores de una consulta
        individual no abortan el resto del batch.
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/MetricsBatchRequest' }
      responses:
        '200':
          description: Resultados del batch (por ítem, ver `MetricsBatchResultItem.success`)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/MetricsBatchResponse' }
        '400':
          description: "Parámetros inválidos a nivel batch (ej. ids duplicados, más de MaxBatchQueries consultas)"
          content:
            application/json:
              schema: { $ref: '#/components/schemas/MetricsErrorEnvelope' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '429': { $ref: '#/components/responses/RateLimited' }
        '500': { $ref: '#/components/responses/InternalError' }

  ########################
  # Edge Devices — núcleo
  ########################
  /api/v1/tenants/{tenantId}/edge-devices:
    parameters:
      - { name: tenantId, in: path, required: true, schema: { type: string, format: uuid } }
    get:
      tags: [EdgeDevices]
      summary: Listar dispositivos edge del tenant
      description: Requiere `perm_edge_devices_view`. Tenant resuelto desde el path, no desde `X-Tenant-ID`.
      security: [{ bearerAuth: [] }]
      responses:
        '200':
          description: Lista de dispositivos
          content:
            application/json:
              schema: { $ref: '#/components/schemas/EdgeDeviceListEnvelope' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
    post:
      tags: [EdgeDevices]
      summary: Crear un dispositivo edge
      description: Requiere `perm_edge_devices_create`.
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/EdgeDeviceCreate' }
      responses:
        '201':
          description: Dispositivo creado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/EdgeDeviceEnvelope' }
        '400':
          description: Body inválido
          content:
            application/json:
              schema: { $ref: '#/components/schemas/EdgeDeviceErrorEnvelope' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '409':
          description: "machineId ya existe en el tenant"
          content:
            application/json:
              schema: { $ref: '#/components/schemas/EdgeDeviceErrorEnvelope' }

  /api/v1/tenants/{tenantId}/edge-devices/{deviceId}:
    parameters:
      - { name: tenantId, in: path, required: true, schema: { type: string, format: uuid } }
      - { name: deviceId, in: path, required: true, schema: { type: string, format: uuid } }
    get:
      tags: [EdgeDevices]
      summary: Obtener un dispositivo edge por ID
      description: Requiere `perm_edge_devices_view`.
      security: [{ bearerAuth: [] }]
      responses:
        '200':
          description: Dispositivo encontrado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/EdgeDeviceEnvelope' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404':
          description: Dispositivo no encontrado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/EdgeDeviceErrorEnvelope' }
    put:
      tags: [EdgeDevices]
      summary: Actualizar un dispositivo edge
      description: Requiere `perm_edge_devices_manage`. `machineId` y `edgeType` son inmutables (se ignoran si se envían).
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/EdgeDeviceUpdate' }
      responses:
        '200':
          description: Dispositivo actualizado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/EdgeDeviceEnvelope' }
        '400':
          description: "Nombre vacío o raspberryBaseUrl inválida"
          content:
            application/json:
              schema: { $ref: '#/components/schemas/EdgeDeviceErrorEnvelope' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404':
          description: Dispositivo no encontrado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/EdgeDeviceErrorEnvelope' }

  /api/v1/tenants/{tenantId}/edge-devices/{deviceId}/enable:
    post:
      tags: [EdgeDevices]
      summary: Habilitar un dispositivo edge
      description: Requiere `perm_edge_devices_manage`.
      security: [{ bearerAuth: [] }]
      parameters:
        - { name: tenantId, in: path, required: true, schema: { type: string, format: uuid } }
        - { name: deviceId, in: path, required: true, schema: { type: string, format: uuid } }
      responses:
        '200':
          description: "Dispositivo habilitado (status pasa a ACTIVE)"
          content:
            application/json:
              schema: { $ref: '#/components/schemas/EdgeDeviceEnvelope' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404':
          description: Dispositivo no encontrado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/EdgeDeviceErrorEnvelope' }

  /api/v1/tenants/{tenantId}/edge-devices/{deviceId}/disable:
    post:
      tags: [EdgeDevices]
      summary: Deshabilitar un dispositivo edge
      description: Requiere `perm_edge_devices_manage`.
      security: [{ bearerAuth: [] }]
      parameters:
        - { name: tenantId, in: path, required: true, schema: { type: string, format: uuid } }
        - { name: deviceId, in: path, required: true, schema: { type: string, format: uuid } }
      responses:
        '200':
          description: "Dispositivo deshabilitado (status pasa a DISABLED)"
          content:
            application/json:
              schema: { $ref: '#/components/schemas/EdgeDeviceEnvelope' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404':
          description: Dispositivo no encontrado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/EdgeDeviceErrorEnvelope' }

  ########################
  # Edge Devices — operacional
  ########################
  /api/v1/tenants/{tenantId}/edge-devices/{deviceId}/status:
    post:
      tags: [EdgeDevices]
      summary: Disparar un chequeo de status contra el dispositivo
      description: Requiere `perm_edge_devices_check`. Queda registrado en el audit trail (`userId`/`userEmail` del JWT).
      security: [{ bearerAuth: [] }]
      parameters:
        - { name: tenantId, in: path, required: true, schema: { type: string, format: uuid } }
        - { name: deviceId, in: path, required: true, schema: { type: string, format: uuid } }
      responses:
        '200':
          description: Resultado del chequeo
          content:
            application/json:
              schema: { $ref: '#/components/schemas/EdgeDeviceCheckResultEnvelope' }
        '400':
          description: "Dispositivo deshabilitado (EDGE_DEVICE_DISABLED)"
          content:
            application/json:
              schema: { $ref: '#/components/schemas/EdgeDeviceErrorEnvelope' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404':
          description: Dispositivo no encontrado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/EdgeDeviceErrorEnvelope' }

  /api/v1/tenants/{tenantId}/edge-devices/{deviceId}/health-check:
    post:
      tags: [EdgeDevices]
      summary: Disparar un health check contra el dispositivo
      description: Requiere `perm_edge_devices_check`. Igual contrato que `/status`.
      security: [{ bearerAuth: [] }]
      parameters:
        - { name: tenantId, in: path, required: true, schema: { type: string, format: uuid } }
        - { name: deviceId, in: path, required: true, schema: { type: string, format: uuid } }
      responses:
        '200':
          description: Resultado del chequeo
          content:
            application/json:
              schema: { $ref: '#/components/schemas/EdgeDeviceCheckResultEnvelope' }
        '400':
          description: "Dispositivo deshabilitado (EDGE_DEVICE_DISABLED)"
          content:
            application/json:
              schema: { $ref: '#/components/schemas/EdgeDeviceErrorEnvelope' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404':
          description: Dispositivo no encontrado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/EdgeDeviceErrorEnvelope' }

  /api/v1/tenants/{tenantId}/edge-devices/{deviceId}/telemetry:
    get:
      tags: [EdgeDevices]
      summary: Obtener telemetría actual del dispositivo
      description: Requiere `perm_edge_devices_view`.
      security: [{ bearerAuth: [] }]
      parameters:
        - { name: tenantId, in: path, required: true, schema: { type: string, format: uuid } }
        - { name: deviceId, in: path, required: true, schema: { type: string, format: uuid } }
      responses:
        '200':
          description: Telemetría del dispositivo
          content:
            application/json:
              schema: { $ref: '#/components/schemas/EdgeDeviceTelemetryEnvelope' }
        '400':
          description: "Dispositivo deshabilitado (EDGE_DEVICE_DISABLED)"
          content:
            application/json:
              schema: { $ref: '#/components/schemas/EdgeDeviceErrorEnvelope' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404':
          description: Dispositivo no encontrado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/EdgeDeviceErrorEnvelope' }

  /api/v1/tenants/{tenantId}/edge-devices/{deviceId}/events:
    get:
      tags: [EdgeDevices]
      summary: Listar el historial de chequeos (status/health-check) del dispositivo
      description: Requiere `perm_edge_devices_view`.
      security: [{ bearerAuth: [] }]
      parameters:
        - { name: tenantId, in: path, required: true, schema: { type: string, format: uuid } }
        - { name: deviceId, in: path, required: true, schema: { type: string, format: uuid } }
      responses:
        '200':
          description: Historial de eventos
          content:
            application/json:
              schema: { $ref: '#/components/schemas/EdgeDeviceEventListEnvelope' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404':
          description: Dispositivo no encontrado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/EdgeDeviceErrorEnvelope' }

  /api/v1/tenants/{tenantId}/edge-devices/{deviceId}/api-keys:
    parameters:
      - { name: tenantId, in: path, required: true, schema: { type: string, format: uuid } }
      - { name: deviceId, in: path, required: true, schema: { type: string, format: uuid } }
    get:
      tags: [EdgeDevices]
      summary: Listar API keys del dispositivo
      description: Requiere `perm_edge_devices_view`. No expone secretos, solo metadata.
      security: [{ bearerAuth: [] }]
      responses:
        '200':
          description: Lista de API keys
          content:
            application/json:
              schema: { $ref: '#/components/schemas/EdgeDeviceAPIKeyListEnvelope' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404':
          description: Dispositivo no encontrado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/EdgeDeviceErrorEnvelope' }
    post:
      tags: [EdgeDevices]
      summary: Emitir una nueva API key para el dispositivo
      description: >
        Requiere `perm_edge_devices_manage`. El secreto en texto plano solo se
        devuelve en esta respuesta — nunca vuelve a exponerse (ver GET, que
        solo devuelve metadata).
      security: [{ bearerAuth: [] }]
      requestBody:
        required: false
        content:
          application/json:
            schema: { $ref: '#/components/schemas/EdgeDeviceAPIKeyCreate' }
      responses:
        '201':
          description: API key creada (incluye el secreto en texto plano una única vez)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/EdgeDeviceAPIKeyEnvelope' }
        '400':
          description: Body malformado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/EdgeDeviceErrorEnvelope' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404':
          description: Dispositivo no encontrado
          content:
            application/json:
              schema: { $ref: '#/components/schemas/EdgeDeviceErrorEnvelope' }

  /api/v1/tenants/{tenantId}/edge-devices/{deviceId}/api-keys/{keyId}:
    delete:
      tags: [EdgeDevices]
      summary: Revocar una API key del dispositivo
      description: Requiere `perm_edge_devices_manage`. Idempotente.
      security: [{ bearerAuth: [] }]
      parameters:
        - { name: tenantId, in: path, required: true, schema: { type: string, format: uuid } }
        - { name: deviceId, in: path, required: true, schema: { type: string, format: uuid } }
        - { name: keyId, in: path, required: true, schema: { type: string } }
      responses:
        '204':
          description: API key revocada
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404':
          description: "API key no encontrada"
          content:
            application/json:
              schema: { $ref: '#/components/schemas/EdgeDeviceErrorEnvelope' }

components:
  ########################
  # Security
  ########################
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: >
        JWT RS256 emitido por Supabase Auth. El tenant se resuelve desde el header `X-Tenant-ID` validando membresía activa en `user_tenant_roles`.
    apiKeyAuth:
      type: apiKey
      in: header
      name: X-Api-Key
      description: >
        Cada API Key está asociada a un `tenant_id`. El servidor ignora `X-Tenant-Id` del cliente.

  ########################
  # Common parameters
  ########################
  parameters:
    Cursor:
      name: cursor
      in: query
      required: false
      description: Cursor de paginación (keyset).
      schema: { type: string }
    Limit:
      name: limit
      in: query
      required: false
      description: Máximo de elementos a retornar (1..200).
      schema:
        type: integer
        minimum: 1
        maximum: 200
        default: 50
    ID:
      name: id
      in: path
      required: true
      description: UUID del recurso.
      schema: { type: string, format: uuid }

  ########################
  # Schemas
  ########################
  schemas:
    JWTError:
      type: object
      description: Formato de error retornado por el middleware JWTAuth (401) y middleware RBAC (403)
      properties:
        error:
          type: string
          example: "UNAUTHORIZED"
        message:
          type: string
          example: "No autorizado"
        status:
          type: integer
          example: 401

    Envelope:
      type: object
      properties:
        data: {}
        meta:
          type: object
          properties:
            next_cursor: { type: string, nullable: true }
        error:
          type: object
          nullable: true
          properties:
            code: { type: string }
            message: { type: string }
      required: [data]

    IDResponse:
      type: object
      properties: { id: { type: string } }
      required: [id]

    # Users
    User:
      type: object
      properties:
        id: { type: string, format: uuid }
        tenantId: { type: string, format: uuid }
        firstName: { type: string, maxLength: 100 }
        lastName: { type: string, maxLength: 100 }
        email: { type: string, format: email, maxLength: 254 }
        role: { type: string, enum: [admin, user] }
        image: { type: string, nullable: true }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }
        deletedAt: { type: string, format: date-time, nullable: true }
      required: [id, tenantId, firstName, lastName, email, role, createdAt, updatedAt]
    UserCreate:
      type: object
      properties:
        firstName: { type: string, maxLength: 100 }
        lastName: { type: string, maxLength: 100 }
        email: { type: string, format: email, maxLength: 254 }
        role: { type: string, enum: [admin, user] }
        image: { type: string, nullable: true }
      required: [firstName, lastName, email, role]
    UserUpdate:
      type: object
      description: Todos los campos son opcionales. Email y tenantId son inmutables.
      properties:
        firstName: { type: string, maxLength: 100 }
        lastName: { type: string, maxLength: 100 }
        role: { type: string, enum: [admin, user] }
        image: { type: string, nullable: true }
      minProperties: 1
    UserUpdateMe:
      type: object
      description: >
        Body de PATCH /api/v1/users/me. A diferencia de UserUpdate, no tiene `role` ni
        `image`: es el DTO de un endpoint sin RBAC (dto.UpdateMeRequest), así que la
        ausencia de esos campos —no una validación— es lo que impide la autoescalada.
      properties:
        firstName: { type: string, maxLength: 100 }
        lastName: { type: string, maxLength: 100 }
      minProperties: 1

    # User Roles
    UserRole:
      type: object
      properties:
        id: { type: string, format: uuid }
        userId: { type: string, format: uuid }
        tenantId: { type: string, format: uuid }
        roleId: { type: string }
        status: { type: string, enum: [active, pending, revoked] }
        assignedBy: { type: string, format: uuid, nullable: true }
        assignedAt: { type: string, format: date-time, nullable: true }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }
      required: [id, userId, tenantId, roleId, status, createdAt, updatedAt]
    UserRoleItem:
      type: object
      properties:
        tenantId: { type: string, format: uuid }
        tenantName: { type: string }
        roleId: { type: string }
        roleName: { type: string }
        status: { type: string, enum: [active, pending, revoked] }
      required: [tenantId, roleId, status]
    UserRoleAssign:
      type: object
      properties:
        userId: { type: string, format: uuid }
        tenantId: { type: string, format: uuid }
        roleId: { type: string }
      required: [userId, tenantId, roleId]
    UserRoleBulkAssign:
      type: object
      properties:
        userIds:
          type: array
          items: { type: string, format: uuid }
          minItems: 1
        tenantId: { type: string, format: uuid }
        roleId: { type: string }
      required: [userIds, tenantId, roleId]

    # Machines
    Machine:
      type: object
      properties:
        id: { type: string }
        code: { type: string }
        meta:
          type: object
          additionalProperties: true
        active: { type: boolean }
        createdAt: { type: string, format: date-time }
      required: [id, code, active]
    MachineCreate:
      type: object
      properties:
        code: { type: string }
        meta:
          type: object
          additionalProperties: true
      required: [code]

    # Tenants
    TenantTheme:
      type: object
      properties:
        primaryColor: { type: string }
        secondaryColor: { type: string }
        accentColor: { type: string }
        textColor: { type: string }
        backgroundColor: { type: string }
        logoUrl: { type: string }
        faviconUrl: { type: string }

    TenantAddress:
      type: object
      properties:
        street: { type: string }
        city: { type: string }
        state: { type: string }
        postalCode: { type: string }
        country: { type: string }

    Tenant:
      type: object
      properties:
        id: { type: string, format: uuid }
        name: { type: string }
        companyName: { type: string }
        subdomain: { type: string }
        description: { type: string }
        isActive: { type: boolean }
        theme: { $ref: '#/components/schemas/TenantTheme' }
        address: { $ref: '#/components/schemas/TenantAddress' }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }
      required: [id, name, companyName, subdomain, isActive, theme, address, createdAt, updatedAt]

    TenantCreate:
      type: object
      properties:
        name: { type: string }
        companyName: { type: string }
        subdomain: { type: string }
        description: { type: string }
        adminUser:
          type: object
          properties:
            email: { type: string, format: email }
            firstName: { type: string }
            lastName: { type: string }
            password: { type: string, minLength: 8 }
          required: [email, firstName, lastName, password]
        theme:
          type: object
          properties:
            primaryColor: { type: string }
            secondaryColor: { type: string }
            accentColor: { type: string }
            textColor: { type: string }
            backgroundColor: { type: string }
          required: [primaryColor]
        address:
          type: object
          properties:
            street: { type: string }
            city: { type: string }
            state: { type: string }
            postalCode: { type: string }
            country: { type: string }
          required: [street, city, state, postalCode, country]
      required: [name, companyName, subdomain, adminUser, theme, address]

    TenantUpdate:
      type: object
      description: Todos los campos son opcionales. Solo se actualizan los campos enviados.
      properties:
        name: { type: string }
        companyName: { type: string }
        subdomain: { type: string }
        description: { type: string }
        isActive: { type: boolean }
        theme:
          type: object
          properties:
            primaryColor: { type: string }
            secondaryColor: { type: string }
            accentColor: { type: string }
            textColor: { type: string }
            backgroundColor: { type: string }
            logoUrl: { type: string }
            faviconUrl: { type: string }
        address:
          type: object
          properties:
            street: { type: string }
            city: { type: string }
            state: { type: string }
            postalCode: { type: string }
            country: { type: string }

    PublicTenantResponse:
      type: object
      description: Subconjunto de Tenant seguro sin autenticación — sin address, contactEmail, companyWebsite ni description.
      properties:
        id: { type: string, format: uuid }
        subdomain: { type: string }
        name: { type: string }
        companyName: { type: string }
        isActive: { type: boolean }
        theme: { $ref: '#/components/schemas/TenantTheme' }
        settings:
          type: object
          properties:
            locale: { type: string }
            timezone: { type: string }
            dateFormat: { type: string }
            timeFormat: { type: string }
            currency: { type: string }
          required: [locale, timezone, dateFormat, timeFormat, currency]
      required: [id, subdomain, name, companyName, isActive, theme, settings]

    # Invitations
    Invitation:
      type: object
      properties:
        id: { type: string, format: uuid }
        tenant_id: { type: string, format: uuid }
        email: { type: string, format: email }
        role_id: { type: string }
        status: { type: string, enum: [pending, accepted, revoked, expired] }
        invited_by: { type: string, format: uuid }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }
        expires_at: { type: string, format: date-time }
      required: [id, tenant_id, email, role_id, status, invited_by, created_at, updated_at, expires_at]

    # Consumers (events & heartbeat)
    BatchEvents:
      type: object
      properties:
        events:
          type: array
          minItems: 1
          maxItems: 1000
          items:
            $ref: '#/components/schemas/EventItem'
      required: [events]
    EventItem:
      type: object
      properties:
        eventId: { type: string, description: Único para idempotencia. }
        machineId: { type: string }
        ts: { type: string, format: date-time }
        seq: { type: integer, minimum: 0 }
        kind: { type: string, enum: [metric, alarm, heartbeat] }
        schemaVersion: { type: integer, minimum: 1 }
        payload:
          type: object
          additionalProperties: true
      required: [eventId, machineId, ts, kind, schemaVersion, payload]

    Heartbeat:
      type: object
      properties:
        machineId: { type: string }
        ts: { type: string, format: date-time }
        status: { type: string, enum: [online, offline, degraded] }
      required: [machineId, ts, status]

  ########################
  # Notification Schemas
  ########################
    NotificationResponse:
      type: object
      required: [id, tenant_id, title, message, severity, status, created_at]
      properties:
        id:              { type: string, format: uuid }
        tenant_id:       { type: string, format: uuid }
        title:           { type: string }
        message:         { type: string }
        severity:        { type: string, enum: [info, warning, critical, error] }
        status:          { type: string, enum: [unread, acknowledged, closed] }
        alarm_rule_id:   { type: string, format: uuid, nullable: true }
        machine_id:      { type: string, format: uuid, nullable: true }
        created_at:      { type: string, format: date-time }
        acknowledged_at: { type: string, format: date-time, nullable: true }
        closed_at:       { type: string, format: date-time, nullable: true }

    NotificationListResponse:
      type: object
      required: [data, total, limit, offset]
      properties:
        data:   { type: array, items: { $ref: '#/components/schemas/NotificationResponse' } }
        total:  { type: integer }
        limit:  { type: integer }
        offset: { type: integer }

    NotificationCountResponse:
      type: object
      required: [unread]
      properties:
        unread: { type: integer }

  ########################
  # Log Service Schemas
  ########################
    LogEntry:
      type: object
      required: [id, tenant_id, created_at, severity, event_type, message, metadata]
      properties:
        id:          { type: string, format: uuid }
        tenant_id:   { type: string, format: uuid }
        created_at:  { type: string, format: date-time }
        severity:    { type: string, enum: [info, warning, critical, error] }
        event_type:  { type: string, enum: [alarm_triggered, alarm_resolved, device_connected, device_disconnected, device_state_changed, user_action, system] }
        source_id:   { type: string, format: uuid, nullable: true }
        machine_id:  { type: string, format: uuid, nullable: true }
        message:     { type: string }
        metadata:    { type: object, additionalProperties: true }

    LogListResponse:
      type: object
      required: [data, total]
      properties:
        data:        { type: array, items: { $ref: '#/components/schemas/LogEntry' } }
        next_cursor: { type: string, nullable: true }
        total:       { type: integer }

    LogExportResponse:
      type: object
      required: [data, truncated, exported_count, total_available]
      properties:
        data:            { type: array, items: { $ref: '#/components/schemas/LogEntry' } }
        truncated:       { type: boolean }
        exported_count:  { type: integer }
        total_available: { type: integer }

    LogContextResponse:
      type: object
      required: [before, anchor, after]
      properties:
        before: { type: array, items: { $ref: '#/components/schemas/LogEntry' } }
        anchor: { $ref: '#/components/schemas/LogEntry' }
        after:  { type: array, items: { $ref: '#/components/schemas/LogEntry' } }

    RetentionResponse:
      type: object
      required: [tenant_id, retention_days, next_purge_at, updated_at]
      properties:
        tenant_id:      { type: string, format: uuid }
        retention_days: { type: integer, minimum: 1 }
        next_purge_at:  { type: string, format: date-time }
        updated_at:     { type: string, format: date-time }

    UpdateRetentionRequest:
      type: object
      required: [retention_days]
      properties:
        retention_days: { type: integer, minimum: 1, maximum: 3650 }

    LoginRequest:
      type: object
      properties:
        email: { type: string, format: email }
        password: { type: string }
      required: [email, password]

    SupabaseAuthResponse:
      type: object
      description: Passthrough del body de Supabase Auth — no es un contrato propio de esta API.
      properties:
        access_token: { type: string }
        token_type: { type: string, example: bearer }
        expires_in: { type: integer }
        refresh_token: { type: string }
        user: { type: object, additionalProperties: true }
      additionalProperties: true

    PendingUserList:
      type: object
      required: [data, total]
      properties:
        data:
          type: array
          items: { $ref: '#/components/schemas/User' }
        total: { type: integer }

    Permission:
      type: object
      properties:
        id: { type: string }
        name: { type: string }
        section: { type: string }
        description: { type: string }
        isSystemPermission: { type: boolean }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }
      required: [id, name, section, description, isSystemPermission]

    PermissionCreate:
      type: object
      properties:
        name: { type: string }
        section: { type: string }
        description: { type: string }
      required: [name, section, description]

    PermissionError:
      type: object
      properties:
        error: { type: string }
      required: [error]

    PermissionValidationError:
      type: object
      properties:
        error: { type: string, example: "Validation failed" }
        errors:
          type: array
          items:
            type: object
            properties:
              path: { type: string }
              message: { type: string }
      required: [error, errors]

    ErrorResponse:
      type: object
      description: Formato de error de dominio compartido por Roles, Alarm Rules y Dashboard Layouts — no confundir con JWTError (401/403 de middleware).
      properties:
        error: { type: string, description: "Código de error, ej. ROLE_NOT_FOUND" }
        message: { type: string }
        status: { type: integer }
      required: [error, message, status]

    Role:
      type: object
      properties:
        id: { type: string }
        name: { type: string }
        description: { type: string }
        permissions:
          type: array
          items: { type: string }
        isSystemRole: { type: boolean }
        isGlobal: { type: boolean }
        tenantId: { type: string, format: uuid, nullable: true }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }
      required: [id, name, permissions, isSystemRole, isGlobal, createdAt, updatedAt]

    RoleWrite:
      type: object
      properties:
        name: { type: string }
        description: { type: string }
        permissions:
          type: array
          items: { type: string }
      required: [name]

    AlarmRule:
      type: object
      properties:
        id: { type: string, format: uuid }
        tenantId: { type: string, format: uuid }
        name: { type: string }
        description: { type: string }
        metric: { type: string }
        operator: { type: string, enum: [gt, lt, gte, lte, eq] }
        threshold: { type: number }
        severity: { type: string, enum: [info, warning, critical] }
        enabled: { type: boolean }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }
      required: [id, tenantId, name, metric, operator, threshold, severity, enabled, createdAt, updatedAt]

    AlarmRuleCreate:
      type: object
      properties:
        name: { type: string }
        description: { type: string }
        metric: { type: string }
        operator: { type: string, enum: [gt, lt, gte, lte, eq] }
        threshold: { type: number }
        severity: { type: string, enum: [info, warning, critical] }
        enabled: { type: boolean, default: true }
      required: [name, metric, operator, threshold, severity]

    AlarmRuleUpdate:
      type: object
      description: Todos los campos opcionales (actualización parcial).
      properties:
        name: { type: string }
        description: { type: string }
        metric: { type: string }
        operator: { type: string, enum: [gt, lt, gte, lte, eq] }
        threshold: { type: number }
        severity: { type: string, enum: [info, warning, critical] }
        enabled: { type: boolean }
      minProperties: 1

    LayoutWidgetPosition:
      type: object
      properties:
        x: { type: integer }
        y: { type: integer }
        w: { type: integer }
        h: { type: integer }
        i: { type: string }
      required: [x, y, w, h, i]

    LayoutWidget:
      type: object
      properties:
        id: { type: string }
        type: { type: string }
        name: { type: string }
        title: { type: string }
        description: { type: string }
        category: { type: string }
        icon: { type: string }
        position: { $ref: '#/components/schemas/LayoutWidgetPosition' }
      required: [id, type, position]

    DashboardLayout:
      type: object
      properties:
        id: { type: string, format: uuid }
        name: { type: string }
        widgets:
          type: array
          items: { $ref: '#/components/schemas/LayoutWidget' }
        createdAt: { type: string, format: date-time }
        updatedAt: { type: string, format: date-time }
      required: [id, name, widgets, createdAt, updatedAt]

    DashboardLayoutWrite:
      type: object
      properties:
        name: { type: string }
        widgets:
          type: array
          items: { $ref: '#/components/schemas/LayoutWidget' }
      required: [name]

    DashboardLayoutList:
      type: object
      properties:
        data:
          type: array
          items: { $ref: '#/components/schemas/DashboardLayout' }
        meta:
          type: object
          properties:
            total: { type: integer }
            limit: { type: integer, description: "Hardcodeado a 3 hoy — no es un query param configurable." }
          required: [total, limit]
      required: [data, meta]

    MetricSpec:
      type: object
      properties:
        aasPath: { type: string }
        agg: { type: string, enum: [avg, sum, min, max, last, count, delta, raw] }
      required: [aasPath, agg]

    MetricsQueryRequest:
      type: object
      properties:
        machineId: { type: string }
        range: { type: string, enum: ["15m", "30m", "1h", "8h", "24h", "7d", "30d"] }
        from: { type: string, format: date-time }
        to: { type: string, format: date-time }
        bucket: { type: string, enum: ["1m", "5m", "15m", "1h", "6h", "1d"] }
        metrics:
          type: array
          items: { $ref: '#/components/schemas/MetricSpec' }
          minItems: 1
          maxItems: 10
        groupBy: { type: string }
        filter:
          type: object
          properties:
            valueEquals: {}
        maxPoints: { type: integer }
      required: [machineId, metrics]

    MetricPoint:
      type: object
      properties:
        ts: { type: string, format: date-time }
        value: {}
      required: [ts, value]

    MetricScalarResult:
      type: object
      properties:
        aasPath: { type: string }
        agg: { type: string }
        value: { type: number }
        sampleCount: { type: integer }
      required: [aasPath, agg, value, sampleCount]

    MetricSeriesPoint:
      type: object
      properties:
        ts: { type: string, format: date-time }
        results:
          type: array
          items: { $ref: '#/components/schemas/MetricScalarResult' }
      required: [ts, results]

    MetricGroupResult:
      type: object
      properties:
        key: { type: string }
        value: { type: number }
      required: [key, value]

    MetricsQueryResponse:
      type: object
      description: >
        Forma discriminada por `mode`: `scalar` usa `results`, `series` usa
        `series`, `raw` usa `points`, `grouped` usa `groups`. Los campos no
        aplicables al modo actual se omiten.
      properties:
        mode: { type: string, enum: [scalar, series, raw, grouped] }
        machineId: { type: string }
        from: { type: string, format: date-time }
        to: { type: string, format: date-time }
        dataAsOf: { type: string, format: date-time, nullable: true }
        bucket: { type: string }
        results:
          type: array
          items: { $ref: '#/components/schemas/MetricScalarResult' }
        series:
          type: array
          items: { $ref: '#/components/schemas/MetricSeriesPoint' }
        aasPath: { type: string }
        points:
          type: array
          items: { $ref: '#/components/schemas/MetricPoint' }
        agg: { type: string }
        groupBy: { type: string }
        groups:
          type: array
          items: { $ref: '#/components/schemas/MetricGroupResult' }
      required: [mode, machineId, from, to]

    MetricsQueryEnvelope:
      type: object
      properties:
        success: { type: boolean, example: true }
        data: { $ref: '#/components/schemas/MetricsQueryResponse' }
      required: [success, data]

    MetricsErrorEnvelope:
      type: object
      properties:
        success: { type: boolean, example: false }
        error: { type: string }
        code: { type: string, enum: [INVALID_PARAMS, TOO_MANY_METRICS, RAW_MODE_CONFLICT, GROUP_BY_CONFLICT, RANGE_TOO_WIDE, TOO_MANY_GROUPS, TOO_MANY_QUERIES, QUERY_TIMEOUT] }
      required: [success, error, code]

    MetricsCatalogResponse:
      type: object
      properties:
        success: { type: boolean, example: true }
        data:
          type: object
          properties:
            machineId: { type: string }
            aasPaths:
              type: array
              items: { type: string }
          required: [machineId, aasPaths]
      required: [success, data]

    MetricsBatchQueryItem:
      allOf:
        - $ref: '#/components/schemas/MetricsQueryRequest'
        - type: object
          properties:
            id: { type: string }
          required: [id]

    MetricsBatchRequest:
      type: object
      properties:
        queries:
          type: array
          items: { $ref: '#/components/schemas/MetricsBatchQueryItem' }
          minItems: 1
          maxItems: 50
      required: [queries]

    MetricsBatchResultItem:
      type: object
[...]
